.speech{
    font-size: 15;
    font-family:  sans-serif;
    color: black;
}
.direction{
    font-size: 17;
    font-family: Times New Roman;
    color: black;
    background-color: bisque;
}
.direction:hover{
    color: aquamarine;
    background-color: black;
}
.oedipus{
    color: aqua;
}
.tiresias{
    color: blueviolet;
}
table{
    border: solid 4px;
    border-collapse: collapse;
}
th,td{
    border:solid 3px;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: aquamarine;
}
.oedipus:hover
{
    text-shadow: 2px 3px 6px yellowgreen;
    border: 2px solid sandybrown;
    border-radius: 6px;
    padding: 6px;
}
.tiresias:hover
{
    text-shadow: 2px 3px 6px royalblue;
    border: 2px solid salmon;
    border-radius: 6px;
    padding: 6px;

}

