.speech{
    font-size: 15;
    font-family:  sans-serif;
    color: black;
}
.direction{
    font-size: 17;
    font-family: Times New Roman;
    color: black;
    background-color: bisque;
}
.direction:hover{
    color: aquamarine;
    background-color: black;
}
.oedipus{
    color: aqua;
}
.tiresias{
    color: blueviolet;
}
table{
    border: solid 4px;
    border-collapse: collapse;
}
th,td{
    border:solid 3px;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: aquamarine;
}
.oedipus:hover
{
    text-shadow: 2px 3px 6px yellowgreen;
    border: 2px solid sandybrown;
    border-radius: 6px;
    padding: 6px;
}
.tiresias:hover
{
    text-shadow: 2px 3px 6px royalblue;
    border: 2px solid salmon;
    border-radius: 6px;
    padding: 6px;
}
ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:fuchsia
    }
 ul.navbar-horizontal a {
    display:block;
    padding:8px
 }
    /* on hover change the link color*/
ul.navbar-horizontal a:hover {
    background-color: #555;
    color:blue;
    }

